body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding: 10px;
}
.booking-main > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.booking-content {
    margin: 0 0 25px;
    border: 1px dotted #888;
    padding: 20px;
}
.booking-content > table > caption {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
}
.booking-content > table tr > td {
    padding-right: 20px;
    vertical-align: top;
}
.td-front {
    vertical-align: middle!important;
}
.booking-content input,
.booking-content select,
.lecture-description {
    padding: 5px;
    font-size: 1.4em;
}
.booking-content input[type="text"],
.booking-content input[type="email"],
.booking-content input[type="password"] {
    border: none;
    outline: none;
    border-bottom: 2px solid #0dd;
}
.booking-content select {
    width: 250px;
}
.lecture-description {
    min-height: 1.4em;
    max-width: 500px;
    border: 1px solid darkgrey;
}
.booking-submit > input {
    padding: 15px 20px;
    font-size: 1.1em;
}